In [2]:
import pandas as pd

movies = pd.read_csv('./peliculas.csv')

In [8]:
# ¿Cuál es la cantidad de filas del datset? ¿y la cantidad de columnas?
movies.shape

(49, 24)

In [4]:
# Listar los nombres de las columnas y sus tipos de dato.
movies.dtypes

adult                       bool
belongs_to_collection     object
budget                   float64
genres                    object
homepage                  object
id                         int64
imdb_id                   object
original_language         object
original_title            object
overview                  object
popularity               float64
poster_path               object
production_companies      object
production_countries      object
release_date              object
revenue                    int64
runtime                    int64
spoken_languages          object
status                    object
tagline                   object
title                     object
video                       bool
vote_average             float64
vote_count                 int64
dtype: object

In [5]:
# Mostrar los datos de las 5 primeras filas
movies.iloc[:5]

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000.0,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033,81,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415
1,False,NaN,65000000.0,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249,104,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",NaN,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0,101,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92
3,False,NaN,16000000.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,1995-12-22,81452156,127,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0.0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,1995-02-10,76578911,106,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173

In [60]:
# Mostrar si existen datos faltantes (N/A) ¿Qué porcentaje representan del total de datos?
total_data = movies.size
total_null = movies.isnull().sum(numeric_only=True).sum()

porcentaje_nulos = (total_null * 100) / total_data
porcentaje_nulos

8.528428093645484

In [56]:
# Generar un nuevo dataframe dataset_peliculas que contenga las siguientes columnas:
    # original_title
    # title
    # adult
    # original_language
    # popularity
    # budget
    # release_date
    # revenue
    # vote_count
    
new_movies_df = movies[['original_title', 'title', 'adult', 'original_language', 'popularity', 'budget', 'release_date', 'revenue', 'vote_count']].copy()
new_movies_df

# Verificar si existen datos faltantes, en ese caso eliminar las filas que los contengan.
for column in new_movies_df:
    new_movies_df = new_movies_df[new_movies_df[column].notna()]
new_movies_df

# A partir del atributo release_date generar dos nuevos atributos year y month

month = []

year = []

for date in new_movies_df['release_date']:
    date_to_list = date.split('-')
    month.append(date_to_list[1])
    year.append(date_to_list[0])

new_movies_df['year'] = year

new_movies_df['month'] = month

new_movies_df

# Guardar el dataset en un archivo csv con el nombre dataset_peliculas.

df = new_movies_df.to_csv('dataset_peliculas.csv', index=False)

df

In [99]:
# ¿Cuál es el idioma más popular de las películas?
# Generar un dataframe idiomas que contenga una columna idioma y otra cantidad donde se pueda ver
# la cantidad de veces que aparece cada idioma en en el dataset.

# Ingles es el idioma mas popular.

# initialize data of lists.
data = {}
  
# Create DataFrame
# df = pd.DataFrame(data)


for l in movies['original_language']:
    if l not in data:
        data[l] = 0
    data[l] = data[l] + 1

data
idioma = {'idioma': [], 'cantidad': []}

for i in data:
    idioma['idioma'].append(i)
    idioma['cantidad'].append(data[i])
idioma
idiomas = pd.DataFrame(idioma, columns=['idioma', 'cantidad'])
idiomas

  idioma  cantidad
0     en        44
1     fr         2

In [151]:
# ¿Qué películas tienen un revenue mayor al promedio? Generar un dataframe mayor_revenue que contenga una columna titulo 
# y otra revenue con las películas que tengan un revenue mayor al promedio.

revenue_promedio = movies['revenue'].mean()

new_df = movies[movies['revenue'] > revenue_promedio]

new_df[['title', 'revenue']]

mayor_revenue = pd.DataFrame(new_df, columns=['title', 'revenue'])
mayor_revenue

                             title    revenue
0                        Toy Story  373554033
1                          Jumanji  262797249
3                Waiting to Exhale   81452156
5                             Heat  187436818
9                        GoldenEye  352194034
10          The American President  107879496
15                          Casino  116112375
16           Sense and Sensibility  135000000
18  Ace Ventura: When Nature Calls  212385533
20                      Get Shorty  115101622
29                 Dangerous Minds  180000000
30                  Twelve Monkeys  168840000
32                            Babe  254134910
42                   Mortal Kombat  122195920
45                           Se7en  327311859
46                      Pocahontas  346079773

In [164]:
# ¿Cuál fue la rentabilidad (revenue - budget) de cada película? 
# Generar un dataframe rentabilidad con las columnas titulo, rentabildad, revenue y budget* ordenado de mayor a menor.
# ¿Qué peliculas fueron las más rentables? ¿Cuáles no fueron rentables?

rentabilidad = movies['revenue'] - movies['budget']

data = {'titulo': movies['title'], 'rentabilidad': rentabilidad, 'revenue': movies['revenue'], 'budget': movies['budget']}


new_df = pd.DataFrame(data, columns=['titulo', 'rentabilidad', 'revenue', 'budget'])
new_df.sort_values(by='rentabilidad', ascending=False)

                            titulo  rentabilidad    revenue      budget
0                        Toy Story   343554033.0  373554033  30000000.0
45                           Se7en   294311859.0  327311859  33000000.0
9                        GoldenEye   294194034.0  352194034  58000000.0
46                      Pocahontas   291079773.0  346079773  55000000.0
32                            Babe   224134910.0  254134910  30000000.0
1                          Jumanji   197797249.0  262797249  65000000.0
18  Ace Ventura: When Nature Calls   182385533.0  212385533  30000000.0
29                 Dangerous Minds   180000000.0  180000000         0.0
30                  Twelve Monkeys   139340000.0  168840000  29500000.0
5                             Heat   127436818.0  187436818  60000000.0
16           Sense and Sensibility   118500000.0  135000000  16500000.0
42                   Mortal Kombat   104195920.0  122195920  18000000.0
20                      Get Shorty    84851622.0  115101622  30250000.0
4      Father of the Bride Part II    76578911.0   76578911         0.0
3                Waiting to Exhale    65452156.0   81452156  16000000.0
15                          Casino    64112375.0  116112375  52000000.0
24               Leaving Las Vegas    46200000.0   49800000   3600000.0
10          The American President    45879496.0  107879496  62000000.0
34                Dead Man Walking    28363635.0   39363635  11000000.0
26                    Now and Then    15400000.0   27400000  12000000.0
44   How To Make An American Quilt    13574130.0   23574130  10000000.0
12                           Balto    11348324.0   11348324         0.0
43                      To Die For     1284514.0   21284514  20000000.0
38        Cry, the Beloved Country      676525.0     676525         0.0
17                      Four Rooms      300000.0    4300000   4000000.0
40                 Dead Presidents   -10000000.0          0  10000000.0
37                        Clueless   -12000000.0          0  12000000.0
28       The City of Lost Children   -16261389.0    1738611  18000000.0
41                     Restoration   -19000000.0          0  19000000.0
22                       Assassins   -19696928.0   30303072  50000000.0
19                     Money Train   -24568887.0   35431113  60000000.0
13                           Nixon   -30318235.0   13681765  44000000.0
6                          Sabrina   -58000000.0          0  58000000.0
14                Cutthroat Island   -87982678.0   10017322  98000000.0
2                 Grumpier Old Men           NaN          0         NaN
7                     Tom and Huck           NaN          0         NaN
11     Dracula: Dead and Loving It           NaN          0         NaN
21                         Copycat           NaN          0         NaN
23                          Powder           NaN          0         NaN
25                         Othello           NaN          0         NaN
27                      Persuasion           NaN          0         NaN
31                Wings of Courage           NaN          0         NaN
33                      Carrington           NaN          0         NaN
35          Across the Sea of Time           NaN          0         NaN
36                    It Takes Two           NaN          0         NaN
47           When Night Is Falling           NaN          0         NaN